@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: Poppins;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    max-height: 7vh;   
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

nav.scrolled {
    background-color: white;
}

.navbar {
    padding:0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.logo {
    background: url('../imgs/logo.png') no-repeat center center;
    background-size: contain;  
    border: none;             
    width: 100px;              
    height: 50px;              
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.5);
}

.navbar a {
    text-decoration: none;
    color: black;
    transition: font-size 0.3s ease;
    max-width: 150px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.navbar a:hover {
    color: #9e9b9b; 
    font-size: 1.2em;
}

.signup_button {
    border-style: none;
    font-size: 1.8vh;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    background: green;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signup_button:hover {
    background: linear-gradient(to bottom, #4caf50, #2e7d32);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.nav_right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 2vh;
    padding:8px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#nav_right_click:hover {
    position: relative;
    z-index: -1;
}

#nav_right_click:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;  
    z-index: -1;
    animation: fillColor 0.1s forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes fillColor {
    to {
        transform: scaleX(1);
    }
}



